.tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tracks-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.create-playlist-button {
  display: flex;
  align-self: flex-end;
  border: 2px solid var(--main-2);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  color: var(--font-main);
  font-size: 16px;
  padding: 7px;
  margin-right: 15px;
  margin-top: -30px;
}

.hide {
  display: none;
}

.done {
  color: var(--spotify_main);
  border: 2px solid var(--spotify_main);
  background-color: transparent;
}

.error {
  color: var(--main-red);
  border: 2px solid var(--main-red);
  background-color: transparent;
}

.create-playlist-button:hover {
  background-color: var(--main-2);
  cursor: pointer;
  color: var(--font-main-secondary);
}

@media only screen and (max-width: 1000px) {
  .create-playlist-button {
    right: 55px;
    position: absolute;
    top: 54px;
  }
}
