.App {
  background-size: cover;
}

.disclaimer {
  font-size: 12px;
  margin-bottom: 15px;
}

.logo {
  position: absolute;
  left: 50px;
  top: 50px;
}

.bold {
  font-weight: 600;
}

.title {
  z-index: 200;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.opaque {
  color: rgba(255, 255, 255, 0.5);
}

.flex {
  display: flex;
}

.button-primary {
  background-color: var(--spotify_main);
  color: var(--font-main-white);
  font-weight: bold;
}

.button-secondary {
  border: 2px solid white;
  color: var(--font-main-white);
  background: none;
}

.paragraph {
  max-width: 600px;
}
