.track {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--main-2-trans);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  height: 70px;
  width: 350px;
  box-sizing: border-box;
  flex: 0 1 33%;
}

.top-section p {
  margin: 5px 0;
}

.card-image {
  height: 50px;
  width: auto;
  margin-right: 10px;
  border-radius: 5px;
}

.track-index {
  margin-top: 5px;
  color: var(--font-main-white);
}

.track-name {
  margin-right: 30px !important;
}

.highlight-circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--main-1-trans);
  position: absolute;
  top: 10px;
  right: 10px;
}

.highlight-circle p {
  color: var(--font-main);
}

@media only screen and (max-width: 1185px) {
  .track {
    margin: 25px 25px 0 25px;
    flex: 0 1 100%;
    padding-left: 15px;
    height: fit-content;
  }
}
