html {
  /*dark theme main colors*/
  --main-1: #F55284;
  --main-2: #D9499F;
  --main-3: #B144B3;
  --main-4: #793CDC;
  --main-5: #6035F4;

  /*font colors*/
  --font-main: #1e3264;
  --font-main-white: #FFFFFF;
}