html {
  /*dark theme main colors*/
  --main-1: #ffffff;
  --main-2: #0c142a;
  --main-3: #0c142a;
  --main-4: ;
  --main-5: ;

  /* transparent colors */
  --main-1-trans: #ffffff66;
  --main-2-trans: #0c142a88;


  /*font colors*/
  --font-main: #1e3264;
  --font-main-white: #ffffff;
  --font-main-dark: #0c142a;

  /* others */
  --spotify_main: #1db954;
}




html[dark] {
  /*dark theme main colors*/
  --main-1: #0c142a;
  --main-2: #ffffff;
  --main-3: ;
  --main-4: ;
  --main-5: ;

  /*font colors*/
  --font-main: #fff;
  --font-main-white: #0c142a;
  --font-main-dark: #0c142a;

  /* others */
  --spotify_main: #1db954;
}