.user_badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user_image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--font-main);
  box-sizing: border-box;
}

.user_information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5px;
}

.user_name {
  margin: 0;
  font-weight: 600;
}

.logout_button {
  margin: 0;
  cursor: pointer;
  font-size: 14px;
}

.logout_button:hover {
  color: var(--spotify_main);
}