body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-1);
}

button {
  height: 50px;
  width: auto;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: var(--button);
  color: var(--font-main-white);
}
