.landingpage {
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.login-area {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
  background: none;
}

.login-buttons {
  display: flex;
  flex-wrap: wrap;
}

.login-button-image {
  height: 50px;
  width: 50px;
}
.spotify-image {
  height: 47px;
  width: 47px;
}

@media only screen and (max-width: 1000px) {
}
